html {
  width: 100%;
  height: 100%;
  background: white;
  /* background-image: url("../public/background.png"); */
  background-size: cover;
}

.App{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;

}

.global_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%
}

.landing{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  
}

.content_container {
  width: 20rem;
  height: 28rem;  
}

.form_container {
  width: 100%;
  height: 100%;
  background-color: white;
  border: 1px solid transparent;
  border-image: -webkit-linear-gradient(25deg, #e56d45, #f273bf, #91b9ed, #81efaa, #fce566) 20;
  box-shadow: 0 0 50px -20px white;
  border-radius: 2%;

  overflow: hidden;
}

.form_header_container {
  width: 100%;
  height: 5%;

  display: flex;
  justify-content: center;
  align-items: center;
  float: left;

  padding: 20px;
  padding-bottom: 30px;
  padding-top: 30px;

  border-bottom: 1px solid transparent;
  border-image: -webkit-linear-gradient(25deg, #e56d45, #f273bf, #91b9ed, #81efaa, #fce566) 20;
  background: white;
}

.form_header {
  display: inline-block;
  font-size: 15px;
  font-family: Montserrat;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.title_header{
  margin-bottom: 0.8rem;
  width: 70%;
}

.subTitle{
  margin-top: 2rem;
  font-size: 1.2rem;
  color: #36454F;
}

.highlightedText{
  background: linear-gradient(60deg, #e56d45, #f273bf, #91b9ed);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: multiply;
}

.form_content_container {
  width: 100%;
  height: 100%;

  float: left;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 40px;
}

.form_content_inner_container {
  width: 100%;
  height: 100%;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

}

input {
  width: 100%;
  height: 40px;

  padding-left: 10px;
  margin-bottom: 20px;

  background: white;
  font-family: Montserrat;
  font-weight: 500;
  color: black;
  font-size: 12px;

  border-bottom: 2px solid transparent;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
  border-image: -webkit-linear-gradient(25deg, #e56d45, #f273bf, #91b9ed, #81efaa, #fce566) 1;
}

.button_container_four {
  width: 50%;
  height: 2rem;

  background-image: linear-gradient(60deg, #e56d45, #f273bf,  #91b9ed);
  color: #fff;
  border-radius: 0.3rem;

  float: left;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 3px;
  margin-bottom: 2rem

}

.button_container_four button {
  width: 100%;
  height: 100%;
  float: center;
  
  border-radius: 0.3rem;
  background: transparent;
  color: inherit;

  font-family: Montserrat;
  letter-spacing: 2px;
  font-weight: 900;
  font-size: 12px;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ARPanel{
  width: 10rem;
  position:fixed;

  height: 2rem;
  background-color: white;
}


.button_container_one {
  width: 100%;
  height: 2rem;

  background-image: linear-gradient(60deg, #e56d45, #f273bf,  #91b9ed);
  color: #fff;
  border-radius: 0.3rem;

  float: left;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 20px;
}

.button_container_three {
  width: 70%;
  height: 2.5rem;

  background-image: linear-gradient(60deg, #e56d45, #f273bf,  #91b9ed);
  color: #fff;
  border-radius: 0.3rem;

  float: left;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 20px;
}

.button_container_three button {
  width: 100%;
  height: 100%;
  float: center;
  
  border-radius: 0.3rem;
  background: transparent;
  color: inherit;

  font-family: Montserrat;
  letter-spacing: 2px;
  font-weight: 900;
  font-size: 12px;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button_container_one button {
  width: 100%;
  height: 100%;
  float: center;
  
  border-radius: 0.3rem;
  background: transparent;
  color: inherit;

  font-family: Montserrat;
  letter-spacing: 2px;
  font-weight: 900;
  font-size: 12px;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button_container_google {
  width: 100%;
  height: 2rem;

  background-color: white;
  border-radius: 0.3rem;
  color: black;
  padding: 0.2rem;


  float: left;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 20px;
}

.button_container_google button {
  width: 100%;
  height: 100%;
  float: center;

  background: transparent;
  color: inherit;

  font-family: Montserrat;
  letter-spacing: 2px;
  font-weight: 900;
  font-size: 12px;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.signup_button_container {
  color: black;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 2rem;
}

.signup_button {
  width: 100%;
  height: 100%;
  float: center;

  background: transparent;
  color: inherit;

  font-family: Montserrat;
  letter-spacing: 2px;
  font-weight: 900;
  font-size: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.google_logo{
  height: 100%;
  margin-left: 0.3rem;
}

.signupText{
  margin-left: 0.5rem;
  color: #e56d45;
}

.cropperContainer{
  margin-bottom: 3rem;
  color: black
}

#map{
  width:100%;
  height:100%;
}

.mapComponent{
  width:100%;
  height: 100%;
}

.logo{
  margin-top: 0.5rem;
}

.sidebar{
  width:10%;
  height:2rem;
  background-color: white;
}

.sidebarContainer{
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  z-index: 100;
  width: 100%;
  height:50%;
  bottom: 0;
  transform: translateY(100%);
  transition: transform 2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: absolute;
  background-color: white;
}

.sidebarContainer.show {
  transform: translateY(0);
}

.reverie_form_title{
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 1rem;
  background: linear-gradient(60deg, #e56d45, #f273bf, #91b9ed);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: multiply;
}

.mapContainer{
  width: 100%;
  height: 100%;
  background:rgba(255,255,255,0.5);
}

.reverie_form_container{
  width:70%
}