html {
  width: 100%;
  height: 100%;
  background: white;
  /* background-image: url("../public/background.png"); */
  background-size: cover;
  overflow: hidden
}

.App{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  overflow: hidden

}

.global_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%
}

.landing{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  
}

.panel_background{
  background:white;
  /*margin-left: 2rem;
  width: 50%;*/
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  align-items: center;
  width: 100%;
  max-width: 38rem;
}

.content_container {
  width: 20rem;
  height: 28rem;  
}

.form_container {
  width: 100%;
  height: 100%;
  background-color: white;
  border: 1px solid transparent;
  border-image: -webkit-linear-gradient(25deg, #e56d45, #f273bf, #91b9ed, #81efaa, #fce566) 20;
  box-shadow: 0 0 50px -20px white;
  border-radius: 2%;
  overflow: hidden;
}

.form_header_container {
  width: 100%;
  height: 5%;

  display: flex;
  justify-content: center;
  align-items: center;
  float: left;

  padding: 20px;
  padding-bottom: 30px;
  padding-top: 30px;

  border-bottom: 1px solid transparent;
  border-image: -webkit-linear-gradient(25deg, #e56d45, #f273bf, #91b9ed, #81efaa, #fce566) 20;
  background: white;
}

.form_header {
  display: inline-block;
  font-size: 15px;
  font-family: Montserrat;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.title_header{
  margin-bottom: 0.8rem;
  width: 70%;
}

.subTitle{
  width: 90%;
  margin-top: 1rem;
  font-size: 1.6rem;
  font-weight:500;
  color: #36454F;
  font-family:'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  margin-bottom: 2rem;
}

.highlightedText{
  background: linear-gradient(60deg, #e56d45, #f273bf, #91b9ed);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: multiply;
  font-weight: bold;
}

.form_content_container {
  width: 100%;
  height: 100%;

  float: left;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 40px;
}

.form_content_inner_container {
  width: 100%;
  height: 100%;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

}

input {
  width: 100%;
  height: 40px;

  padding-left: 10px;
  margin-bottom: 20px;

  background: white;
  font-family: Montserrat;
  font-weight: 500;
  color: black;
  font-size: 12px;

  border-bottom: 2px solid transparent;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
  border-image: -webkit-linear-gradient(25deg, #e56d45, #f273bf, #91b9ed, #81efaa, #fce566) 1;
}

.button_container_four {
  width: 50%;
  height: 2rem;

  background-image: linear-gradient(60deg, #e56d45, #f273bf,  #91b9ed);
  color: #fff;
  border-radius: 0.3rem;

  float: left;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 3px;
  margin-bottom: 2rem

}

.button_container_four button {
  width: 100%;
  height: 100%;
  float: center;
  
  border-radius: 0.3rem;
  background: transparent;
  color: inherit;

  font-family: Montserrat;
  letter-spacing: 2px;
  font-weight: 900;
  font-size: 12px;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ARPanel{
  width: 10rem;
  position:fixed;

  height: 2rem;
  background-color: white;
}


.button_container_one {
  width: 100%;
  height: 2rem;

  background-image: linear-gradient(60deg, #e56d45, #f273bf,  #91b9ed);
  color: #fff;
  border-radius: 0.3rem;

  float: left;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 20px;
}

.button_container_three {
  width: 70%;
  height: 2.5rem;
  background-image: linear-gradient(60deg, #e56d45, #f273bf,  #91b9ed);
  color: #fff;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_container_three button {
  width: 100%;
  height: 100%;
  
  border-radius: 0.3rem;
  background: transparent;
  color: inherit;

  font-family: Montserrat;
  letter-spacing: 2px;
  font-weight: 900;
  font-size: 12px;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button_container_one button {
  width: 100%;
  height: 100%;
  float: center;
  
  border-radius: 0.3rem;
  background: transparent;
  color: inherit;

  font-family: Montserrat;
  letter-spacing: 2px;
  font-weight: 900;
  font-size: 12px;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button_container_google {
  width: 100%;
  height: 2rem;

  background-color: white;
  border-radius: 0.3rem;
  color: black;
  padding: 0.2rem;


  float: left;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 20px;
}

.button_container_google button {
  width: 100%;
  height: 100%;
  float: center;

  background: transparent;
  color: inherit;

  font-family: Montserrat;
  letter-spacing: 2px;
  font-weight: 900;
  font-size: 12px;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.signup_button_container {
  color: black;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 2rem;
}

.signup_button {
  width: 100%;
  height: 100%;
  float: center;

  background: transparent;
  color: inherit;

  font-family: Montserrat;
  letter-spacing: 2px;
  font-weight: 900;
  font-size: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.google_logo{
  height: 100%;
  margin-left: 0.3rem;
}

.signupText{
  margin-left: 0.5rem;
  color: #e56d45;
}

.cropperContainer{
  margin-bottom: 3rem;
  color: black
}

#map{
  width:100%;
  height:100%;
}

.mapComponent{
  width:100%;
  height: 100%;
}

.logo{
  margin-top: 0.5rem;
  margin-bottom: 0.7rem;
}

.sidebar{
  width:10%;
  height:2rem;
  background-color: white;
}

.sidebarContainer{
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  font-weight:500;
  z-index: 100;
  width: 100%;
  max-height: 25rem;
  bottom: 0;
  transform: translateY(100%);
  transition: transform 2s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: left;
  position: absolute;
}

.sidebarPanel{
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 0.3rem;
  padding: 1rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  overflow: scroll;
}

.sidebarContainer.show {
  transform: translateY(0);
}

.tabContainer{
  width:80%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tab{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 2.5rem;
  background-color: white;
  border-bottom: 0.5px solid transparent;
  border-image: -webkit-linear-gradient(25deg, #e56d45, #f273bf, #91b9ed, #81efaa, #fce566) 1;
  overflow: hidden;
  font-weight:500;
  border-radius: 0.3rem;
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}

.tabLeft{
  border-top-right-radius: 0rem;
  margin-left:0.1rem;
}
.tabRight{
  border-top-left-radius: 0rem;
}

.activeTab{
  background: linear-gradient(60deg, #e56d45, #f273bf);
  color: white;
}

.reverie_form_title{
  font-size: 1.5rem;
  height: 2rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
  background: linear-gradient(10deg, #e56d45, #f273bf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: multiply;
}

.reverie_form_header{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
}

.mapContainer{
  width: 100%;
  height: 100%;
  background:rgba(255,255,255,0.5);
  overflow: hidden;
}

.reverie_form_container{
  width:100%
}

.create_reverie{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  align-items: left;
}

.reverieList_main{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reverieList_list{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reverie_list_item{
  display: flex;
  flex-direction: column;
  justify-content: bottom;
  align-items: left; 
  text-align: left;
  margin: 0.5rem;
  margin-top: 1rem;
  width: 96%;
  height: 12rem;
  background-color: white;
  border-bottom: 2px solid rgba(242, 115, 191, 0.5);
  box-shadow: 0 0 0.5rem rgba(0,0,0,0.2);
  border-radius: 1rem;
  overflow: hidden;
  /* border-image: -webkit-linear-gradient(25deg, #e56d45, #f273bf, #91b9ed, #81efaa, #fce566) 1; */
  opacity: 0.8;

}

.reverie_title{
  font-size: 1.2rem;
  font-weight: 900;
  background: linear-gradient(25deg, #e56d45, #f273bf,#91b9ed);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: multiply;
}

.reverie_title_bigger{
  font-size: 1.7rem;
  font-weight: 900;
  background: linear-gradient(25deg, #e56d45, #f273bf,#91b9ed);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: multiply;
}

.reverie_text_section{
  height: 75%;
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: top;
}

.reverie_button_section{
  height:25%;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reverie_button_container{
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #e56d45, #f273bf,  #91b9ed);
  border-radius: 0.15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reverie_button{
  background: transparent;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: linear-gradient(25deg, #e56d45, #f273bf,#91b9ed);
}

.reverie_header{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: left;
}

.distanceTag{
  color: lightslategray;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#ARCanvas{
  width: 100%;
  height: 100%;
}

.ARInterface{
  width: 100%;
  height: 100%;
}

.ARButton{
  position: fixed; z-index: 1001; padding: 1vh; bottom: 1vh; left: 50%; transform: translateX()
}

.ARTag{
  color: black; background-color: purple;}

.reverie_reply_list{
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.reverie_reply_item{
  display: flex;
  flex-direction: row;
  padding: 1rem;
  align-items: left;
  width: 100%;
  height: 6rem;
  margin-bottom: 1rem;
  text-align: left;
  align-content: space-between;
  background-color: white;
  border-radius: 0.3rem;
}

.bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.reverie_info_panel{
  width: 100%;
  background-color: white;
  border-radius: 0.3rem;
  border-radius: 0.3rem;
  z-index: 100;
  padding: 1rem;
  min-height: 6rem;
  max-height: 12rem;
  display: flex;
  font-size: 0.9rem;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  overflow: hidden;
}

.reverie_reply_panel{
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
  z-index: 100;
  padding: 0.5rem;
  padding-bottom: 2rem;
  position: absolute;
  bottom: 0;
  max-height: 15rem;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  overflow: scroll;
}

.reverie_info_panel_content{
  margin-left: 1rem;
  width: 100%;
  margin-top: -0.5rem;
  display: flex;
  flex-direction: column;
  justify-items: left;
  align-items: left;
  text-align: left;
}

.reverie_info_panel_content_title{
  font-size: 1.1rem;
  height: 2rem;
  font-weight: 900;
  margin-top: 1.1rem;
  background: linear-gradient(10deg, #e56d45, #f273bf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: multiply;
  overflow:hidden;
}

.reverie_reply_item_content{
  margin-left: 1rem;
}

.addButton{
  width: 4rem;
  height: 4rem;
  background-color:#f273bf;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  color: white;
  border-radius: 2rem;
  margin-bottom: 1rem;
}

.addButton>div{
  margin-bottom: 0.5rem;
}

.text{
	position: relative;
	display: inline-block;
	opacity: 0;
	font-size: 1.2rem;
	font-weight: bold;
	margin: 2px;
	background: linear-gradient(60deg, #e56d45, #f273bf, #91b9ed);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    mix-blend-mode: multiply;
}

.text.active{
	transition: ease-in-out 0.5s;
	opacity: 1;
}

.text.fade{
	transition: ease-in-out 0.5s;
	opacity: 0;
}

.text.stay{
	opacity: 1;
}

.container {
  /* background-image: url(../public/Landing_Background.png); */
  width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    overflow: hidden;
  background-position: center;
  /*background-repeat: no-repeat;*/
  background-size: cover;
}

.logo_header1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
  height: 4rem;
  width: 100%;
  z-index: 500;
}

.logo_header2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
  width: 100%;
}

.discord_logo{
  height: 100%;
}

.twitter_logo{
  height: 100%;
  padding-left:3rem;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

.desktopWarning{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  overflow: hidden;
  padding: 2rem;
}

.mobilePanel{
  display:flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

.desktopWarning_content{
  margin-top: 2rem;
  color: #484848;
  border-image: -webkit-linear-gradient(25deg, #e56d45, #f273bf, #91b9ed, #81efaa, #fce566) 20;
  display:flex;
  flex-direction: row;
  justify-items: center;
  width: 100%;
  width: 100%;
}

.desktopWarning_content_emoji{
  font-size: 1.5rem;
}

.desktopWarning_content_section_text{
  display:flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  width: 50%;
  margin-bottom: 0.5rem;
}

.desktopWarning_content_section_text>p{
  width: 12rem;
  font-size: 1.1rem;
  margin-top: 0.5rem;
}

.desktopWarning_content_QR_text{
  font-size: 0.8rem;
  width: 50%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.desktopWarning_content_QR_text>img{
  margin-top: -1rem;
  margin-right: -0.5rem;
}

.landing_title{
  font-size: 2.5rem;
  height: 3rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
  background: -webkit-linear-gradient(25deg, #e56d45, #f273bf, #91b9ed, #81efaa, #fce566);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: multiply;
}

.mobilePanel_carrousel_container{
  margin-top: 1rem;
  width: 90%;
  height: 11rem;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.mobilePanel_carrousel_content{
  display: flex;
  flex-direction: row;
  height: 7rem;
}

.mobilePanel_carrousel_arrow{
  display: flex;
  justify-content: center;
  margin-top: 1.2rem;
  width:5%;
  font-size: 2.5rem;
  font-family: 'Courier New', Courier, monospace;
  height: 7rem;
  background: -webkit-linear-gradient(210deg, #e56d45, #f273bf, #fce566);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: multiply;
}

.mobilePanel_carrousel_description{
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  width: 90%;
  text-align: left;
  height:10rem}

.mobilePanel_carrousel_img{
  display: flex;
  justify-content: center;
  margin-left: 0.5rem;
  width: 40%;
}

.mobilePanel_carrousel_content_blueCrystal_title{
  font-size: 1.3rem;
  height: 1.7rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
  background: linear-gradient(10deg, #91b9ed, #f273bf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: multiply;
}

.mobilePanel_carrousel_content_multicolorCrystal_title{
  font-size: 1.3rem;
  height: 1.7rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
  background: linear-gradient(10deg, #91b9ed, #f273bf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: multiply;
}

.mobilePanel_carrousel_content_greenCrystal_title{
  font-size: 1.3rem;
  height: 1.7rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
  background: linear-gradient(10deg, #91b9ed, #f273bf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: multiply;
}

.mobilePanel_carrousel_content_pinkCrystal_title{
  font-size: 1.3rem;
  height: 1.7rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
  background: linear-gradient(10deg, #91b9ed, #f273bf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: multiply;
}

.mobilePanel_carrousel_content_yellowCrystal_title{
  font-size: 1.3rem;
  height: 1.7rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
  background: linear-gradient(10deg, #91b9ed, #f273bf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: multiply;
}

.mobilePanel_carrousel_content_redCrystal_title{
  font-size: 1.3rem;
  height: 1.7rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
  background: linear-gradient(10deg, #91b9ed, #f273bf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: multiply;
}

.mobilePanel_carrousel_crystal{
  display: flex;
  flex-direction: row;
  height: 7rem;
  width:25rem;
  overflow: hidden;
  padding: 0.5rem;
}

.backgroundMap{
  width: 150%;
  z-index: 200;
  animation: move-right 20s linear infinite alternate;
  overflow: hidden
}

.backgroundMapContainer{
  position: fixed;
  bottom: -4rem;
  height: 20rem;
  left: 0;
}



.mobilePanel_carrousel_content_title{
  font-size: 1.6rem;
  height: 3rem;
  font-weight: 900;
  background: -webkit-linear-gradient(25deg, #e56d45, #f273bf, #91b9ed, #81efaa, #fce566);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: multiply;
}

.hide {
  display: none;
}

@keyframes right_slide-left {
  from { transform: translateX(0%); width: 100%;  }
  to { 
    transform: translateX(-200%); 
    width: 0%;
    opacity: 0;
  }
}

@keyframes right_slide-right {
  from { transform: translateX(100%); 
  opacity: 0;
  }
  to { 
    transform: translateX(0%); 
    opacity: 1;
  }
}

@keyframes left_slide-right {
  from { transform: translateX(-200%); 
    opacity: 0;
    }
    to { 
      transform: translateX(0%); 
      opacity: 1;
    }
}

@keyframes left_slide-left {
  from { transform: translateX(0%); width: 100%;  }
  to { 
    transform: translateX(200%); 
    width: 0%;
    opacity: 0;
  }
}

@keyframes move-right {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-20%);
  }
}
