html {
  width: 100%;
  height: 100%;
  background: white;
  /* background-image: url("../public/background.png"); */
  background-size: cover;
  overflow: hidden
}

.App{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;

}

.global_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%
}

.landing{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  
}

.content_container {
  width: 20rem;
  height: 28rem;  
}

.form_container {
  width: 100%;
  height: 100%;
  background-color: white;
  border: 1px solid transparent;
  border-image: -webkit-linear-gradient(25deg, #e56d45, #f273bf, #91b9ed, #81efaa, #fce566) 20;
  box-shadow: 0 0 50px -20px white;
  border-radius: 2%;

  overflow: hidden;
}

.form_header_container {
  width: 100%;
  height: 5%;

  display: flex;
  justify-content: center;
  align-items: center;
  float: left;

  padding: 20px;
  padding-bottom: 30px;
  padding-top: 30px;

  border-bottom: 1px solid transparent;
  border-image: -webkit-linear-gradient(25deg, #e56d45, #f273bf, #91b9ed, #81efaa, #fce566) 20;
  background: white;
}

.form_header {
  display: inline-block;
  font-size: 15px;
  font-family: Montserrat;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.title_header{
  margin-bottom: 0.8rem;
  width: 70%;
}

.subTitle{
  margin-top: 2rem;
  font-size: 1.2rem;
  color: #36454F;
}

.highlightedText{
  background: linear-gradient(60deg, #e56d45, #f273bf, #91b9ed);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: multiply;
}

.form_content_container {
  width: 100%;
  height: 100%;

  float: left;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 40px;
}

.form_content_inner_container {
  width: 100%;
  height: 100%;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

}

input {
  width: 100%;
  height: 40px;

  padding-left: 10px;
  margin-bottom: 20px;

  background: white;
  font-family: Montserrat;
  font-weight: 500;
  color: black;
  font-size: 12px;

  border-bottom: 2px solid transparent;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
  border-image: -webkit-linear-gradient(25deg, #e56d45, #f273bf, #91b9ed, #81efaa, #fce566) 1;
}

.button_container_four {
  width: 50%;
  height: 2rem;

  background-image: linear-gradient(60deg, #e56d45, #f273bf,  #91b9ed);
  color: #fff;
  border-radius: 0.3rem;

  float: left;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 3px;
  margin-bottom: 2rem

}

.button_container_four button {
  width: 100%;
  height: 100%;
  float: center;
  
  border-radius: 0.3rem;
  background: transparent;
  color: inherit;

  font-family: Montserrat;
  letter-spacing: 2px;
  font-weight: 900;
  font-size: 12px;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ARPanel{
  width: 10rem;
  position:fixed;

  height: 2rem;
  background-color: white;
}


.button_container_one {
  width: 100%;
  height: 2rem;

  background-image: linear-gradient(60deg, #e56d45, #f273bf,  #91b9ed);
  color: #fff;
  border-radius: 0.3rem;

  float: left;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 20px;
}

.button_container_three {
  width: 70%;
  height: 2.5rem;

  background-image: linear-gradient(60deg, #e56d45, #f273bf,  #91b9ed);
  color: #fff;
  border-radius: 0.3rem;

  float: left;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 20px;
}

.button_container_three button {
  width: 100%;
  height: 100%;
  float: center;
  
  border-radius: 0.3rem;
  background: transparent;
  color: inherit;

  font-family: Montserrat;
  letter-spacing: 2px;
  font-weight: 900;
  font-size: 12px;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button_container_one button {
  width: 100%;
  height: 100%;
  float: center;
  
  border-radius: 0.3rem;
  background: transparent;
  color: inherit;

  font-family: Montserrat;
  letter-spacing: 2px;
  font-weight: 900;
  font-size: 12px;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button_container_google {
  width: 100%;
  height: 2rem;

  background-color: white;
  border-radius: 0.3rem;
  color: black;
  padding: 0.2rem;


  float: left;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 20px;
}

.button_container_google button {
  width: 100%;
  height: 100%;
  float: center;

  background: transparent;
  color: inherit;

  font-family: Montserrat;
  letter-spacing: 2px;
  font-weight: 900;
  font-size: 12px;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.signup_button_container {
  color: black;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 2rem;
}

.signup_button {
  width: 100%;
  height: 100%;
  float: center;

  background: transparent;
  color: inherit;

  font-family: Montserrat;
  letter-spacing: 2px;
  font-weight: 900;
  font-size: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.google_logo{
  height: 100%;
  margin-left: 0.3rem;
}

.signupText{
  margin-left: 0.5rem;
  color: #e56d45;
}

.cropperContainer{
  margin-bottom: 3rem;
  color: black
}

#map{
  width:100%;
  height:100%;
}

.mapComponent{
  width:100%;
  height: 100%;
}

.logo{
  margin-top: 0.5rem;
}

.sidebar{
  width:10%;
  height:2rem;
  background-color: white;
}

.sidebarContainer{
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  font-weight:500;
  z-index: 100;
  width: 100%;
  max-height: 25rem;
  bottom: 0;
  transform: translateY(100%);
  transition: transform 2s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: left;
  position: absolute;
}

.sidebarPanel{
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 0.3rem;
  padding: 1rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  overflow: scroll;
}

.sidebarContainer.show {
  transform: translateY(0);
}

.tabContainer{
  width:80%;
  display: flex;
  direction: row;
  align-items: center;
}

.tab{
  display: flex;
  direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 2.5rem;
  background-color: white;
  border-bottom: 0.5px solid transparent;
  border-image: -webkit-linear-gradient(25deg, #e56d45, #f273bf, #91b9ed, #81efaa, #fce566) 1;
  overflow: hidden;
  font-weight:500;
  border-radius: 0.3rem;
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}

.tabLeft{
  border-top-right-radius: 0rem;
  margin-left:0.1rem;
}
.tabRight{
  border-top-left-radius: 0rem;
}

.activeTab{
  background: linear-gradient(60deg, #e56d45, #f273bf);
  color: white;
}

.reverie_form_title{
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
  background: linear-gradient(10deg, #e56d45, #f273bf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: multiply;
}

.reverie_form_header{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
}

.mapContainer{
  width: 100%;
  height: 100%;
  background:rgba(255,255,255,0.5);
  overflow: hidden;
}

.reverie_form_container{
  width:100%
}

.create_reverie{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  align-items: left;
}

.reverieList_main{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reverieList_list{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reverie_list_item{
  display: flex;
  flex-direction: column;
  justify-content: bottom;
  align-items: left; 
  text-align: left;
  margin: 0.5rem;
  margin-top: 1rem;
  width: 96%;
  height: 12rem;
  background-color: white;
  border-bottom: 2px solid rgba(242, 115, 191, 0.5);
  box-shadow: 0 0 0.5rem rgba(0,0,0,0.2);
  border-radius: 1rem;
  overflow: hidden;
  /* border-image: -webkit-linear-gradient(25deg, #e56d45, #f273bf, #91b9ed, #81efaa, #fce566) 1; */
  opacity: 0.8;

}

.reverie_title{
  font-size: 1.2rem;
  font-weight: 900;
  background: linear-gradient(25deg, #e56d45, #f273bf,#91b9ed);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: multiply;
}

.reverie_text_section{
  height: 75%;
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: top;
}

.reverie_button_section{
  height:25%;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reverie_button_container{
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #e56d45, #f273bf,  #91b9ed);
  border-radius: 0.15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reverie_button{
  background: transparent;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: linear-gradient(25deg, #e56d45, #f273bf,#91b9ed);
}

.reverie_header{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: left;
}

.distanceTag{
  color: lightslategray;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#ARCanvas{
  width: 100%;
  height: 100%;
}

.ARInterface{
  width: 100%;
  height: 100%;
}

.ARButton{
  position: fixed; z-index: 1001; padding: 1vh; bottom: 1vh; left: 50%; transform: translateX()
}

.ARTag{
  color: white; background-color: white;}

.reverie_reply_list{
  display: flex;
  direction: column;
  padding: 1rem;
}

.reverie_reply_item{
  display: flex;
  direction: column;
  height: 5rem;
}

.bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.reverie_info_panel{
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 0.3rem;
  z-index: 100;
  padding: 1rem;
  padding-bottom: 2rem;
  max-height: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  overflow: scroll;
}

.reverie_reply_panel{
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 0.3rem;
  z-index: 100;
  padding: 1rem;
  padding-bottom: 2rem;
  position: absolute;
  bottom: 0;
  max-height: 15rem;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  overflow: scroll;
  
}



